<%# NOTE: Overrides Hyrax partial %>
<div class="col-md-6 column-extra-padding">

  <p class="lead text-center">This repository provides access to data created in support of research at Duke. It is a service of Duke University Libraries.</p>

  <p class="text-center">
    <%= link_to "Get Started Sharing Your Data",
        main_app.new_submission_path,
        class: "btn btn-primary" %>
  </p>

  <p class="text-center">
    <%= link_to "Learn More",
                about_path,
                class: "btn btn-primary" %>
  </p>

</div><!-- /.col-md-6 -->


<div class="col-md-6 column-extra-padding">

  <div id="recently_uploaded">

    <h4 class="text-center"><%= t('hyrax.homepage.recently_uploaded.title') %></h4>

    <%= render 'recently_uploaded', recent_documents: @recent_documents %>

  </div>

</div><!-- /.col-md-6 -->
