<div class="col-md-6 column-extra-padding">

  <p class="lead text-center">This is the prototype for the Duke University Libraries Research Data Repository.</p>

  <div class="text-center">
    <%= link_to "Get Started Sharing Your Data",
        "https://duke.qualtrics.com/jfe/form/SV_3W1a7Zkar5BmmLb",
        class: "btn btn-primary" %>
  </div>

</div><!-- /.col-md-6 -->


<div class="col-md-6 column-extra-padding">

  <div id="recently_uploaded">

    <h4 class="text-center">Recently Uploaded Datasets</h4>

    <%= render 'recently_uploaded', recent_documents: @recent_documents %>

  </div>

</div><!-- /.col-md-6 -->
