<%# NOTE: Overrides Hyrax partial %>
<% if recent_documents.blank? %>
  <p><%= t('.no_public') %></p>
<% else %>
  <div id="recent_docs">
    <%= render partial: "recent_document", collection: recent_documents %>
  </div>

  <%= link_to "Browse more",
      main_app.search_catalog_path(latest_version: true, top_level: true),
      class: 'btn btn-default btn-sm' %>

<% end %>
