<%# NOTE: Overrides Hyrax partial %>
  <div class="media recent-item">
    <%= link_to [main_app, recent_document] do %>
      <div class="media-left">
          <%= render_thumbnail_tag recent_document, { class: "media-object" }, { suppress_link: true } %>
      </div>
      <div class="media-body">
        <%= recent_dataset_entry(recent_document) %>
      </div>
    <% end %>
  </div>
