<%# Overrides file from blacklight 6.14.0 to fix incorrect use of aria-labelledby %>
<div id="ajax-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal menu" aria-hidden="true">
  <div id="modal">
    <div id="menu"></div>
  </div>
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
