<% if Flipflop.proxy_deposit? && current_user.can_make_deposits_for.any? %>
  <div class="list-group-item">
    <%= f.label :on_behalf_of %>
    <%= f.collection_select(:on_behalf_of,
                            current_user.can_make_deposits_for,
                            :user_key,
                            :display_name,
                            prompt: "Yourself") %>
  </div>
<% end %>
