<div class="vertical-breadcrumb">

  <div class="vertical-breadcrumb-node home-node">
    <div class='attribute attribute-title'>
      <%= link_to root_path do %>
        <span class="fa fa-home"></span><br/>
        <span>Home</span>
      <% end %>
    </div>
    <div class="vertical-breadcrumb-separator">
      <span class="fa fa-long-arrow-down"></span>
    </div>
  </div>

  <% if presenter.member_of_rdr_collection_presenters.present? %>
    <div class="vertical-breadcrumb-node">
    <% presenter.member_of_rdr_collection_presenters.each do |p| %>
      <div class='attribute attribute-title'>
        <%= link_to p.to_s, collection_path(p.id), class: 'collection-link' %>
      </div>
    <% end %>
        <div class="vertical-breadcrumb-separator">
          <span class="fa fa-long-arrow-down"></span>
        </div>
    </div>
  <% end %>

  <% presenter.ancestor_trail.each_with_index do |doc,i| %>
    <%= render 'vertical_breadcrumb_node', document: doc, position: vertical_breadcrumb_node_position(i+1, presenter.ancestor_trail.count) %>
  <% end %>

  <div class="vertical-breadcrumb-node current-node">
    <div class="vertical-breadcrumb-separator">
      <span class="fa fa-map-marker"></span>
    </div>
    <div class="you-are-here">This <%= presenter.model_name %></div>
  </div>

</div>
