<h2><%= t("rdr.submissions.heading") %></h2>

<div class="bg-success" style="padding: 1em">
  <p>
    Space is being prepared for your submission.
    You will receive an email notification when the space is ready.
  </p>
</div>
