<div class="row submission-form">

  <div class="col-md-12">

    <div class="row">

      <div class="col-md-8 col-md-offset-2">

        <h1><%= t("rdr.submissions.heading") %></h1>

        <%= t("rdr.submissions.form_error_html", email: Rdr.curation_group_email) %>

      </div>

    </div>

  </div>

</div>
