// Duke DDR Styles Adapted From:
// Cosmo 3.2.0
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext");

// Navbar =====================================================================



.navbar-inverse {
	
  background-color: $brand-primary;

  .badge {
    background-color: #fff;
    color: $brand-primary;
  }
}

// Buttons ====================================================================



// Typography =================================================================

body {
  -webkit-font-smoothing: antialiased;
}

.text-primary,
.text-primary:hover {
  color: $brand-primary;
}


.text-success,
.text-success:hover {
  color: $brand-success;
}

.text-danger,
.text-danger:hover {
  color: $brand-danger;
}

.text-warning,
.text-warning:hover {
  color: $brand-warning;
}

.text-info,
.text-info:hover {
  color: $brand-info;
}

h1 {
	color: $gray-darker;
}

h1,h2,h3,h4,h5,h6 {
	a:link {
		text-decoration: none;
	}
}

// Tables =====================================================================

table,
.table {

  a:not(.btn) {
    text-decoration: underline;
  }

  .success,
  .warning,
  .danger,
  .info {
    color: #fff;

    a {
      color: #fff;
    }
  }
}

// Forms ======================================================================


.has-warning {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: $brand-warning;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border: 1px solid $brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: $brand-danger;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border: 1px solid $brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: $brand-success;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border: 1px solid $brand-success;
  }
}

// Navs =======================================================================

.nav-pills {

  & > li > a {
    border-radius: 0;
  }
}

.dropdown-menu {

  & > li > a:hover,
  & > li > a:focus {
    background-image: none;
  }
}

.dropdown-header {
	
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 1em;
}

// Indicators =================================================================

.close {
  text-decoration: none;
  text-shadow: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.alert {
  border: none;

  .alert-link {
    text-decoration: underline;
    color: #fff;
  }
}

.label {
  border-radius: 0;
}

// Progress bars ==============================================================

.progress {
  height: 8px;
  @include box-shadow(none);
  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

// Containers =================================================================

.panel-heading,
.panel-footer {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-default {
  .close {
    color: $text-color;
  }
}

.modal {
  .close {
    color: $text-color;
  }
}

.popover {
  color: $text-color;
}


// Lists (Duke Custom) ========================================================

ul { padding-left: 0.5em; }
ul:not([class]) li { list-style-type: none; }
ul:not([class])>*:before {
	color: $brand-success;
	content: "\f04d";
	font-family: "FontAwesome";
	margin-left: -0.6em;
	padding-right: 1em;
	vertical-align: 50%;
	font-size: 33%;
}

// Type Variants (Duke Custom) ==================================================

.strong { font-weight: bold; }


// Grid Variants (Duke Custom) ==================================================

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}


.buffer-bottom-10 {
  margin-bottom: 10px;
}

.buffer-bottom-20 {
  margin-bottom: 20px;
}

.buffer-bottom-30 {
  margin-bottom: 30px;
}

.buffer-bottom-40 {
  margin-bottom: 40px;
}
