
/* Custom styles for Dashboard view, which has <body class="dashboard"/> */
/* ===================================================================== */

body.dashboard {
  padding-top: 66px;
  @media (max-width: $screen-sm) {
    padding-top: 0;
  }

  & #masthead-alert {
    background: $brand-danger;
  }

  & #content-wrapper {
    padding: 0;
  }

  & .breadcrumb {
    border: none;
    padding-left: 0.5em;
  }

  & table.works-list a.visibility-link {
    text-decoration: none;
  }

}