
/* Custom styles for Dashboard view, which has <body class="dashboard"/> */
/* ===================================================================== */

body.dashboard {
  padding-top: 66px;
  @media (max-width: $screen-sm) {
    padding-top: 0;
  }
  & #content-wrapper {
    padding: 0;
  }

  & .breadcrumb {
    border: none;
    padding-left: 0.5em;
  }

}