/* ============================== */
/* Work Show Page Style Overrides */
/* ============================== */

.main-column {
  padding-right: 30px;
}

.expandable-extended-text {
  display: none;
}

a.toggle-extended-text {
  &:link, &:hover, &:active {
   text-decoration: none;
  }
  &:focus {
   color: #2e74b2;
  }
}

.work-files {
  & dt {
    color: #666;
    margin-bottom: 10px;
  }
  & dd {
    border-left: 10px solid #eee;
    padding-left: 8px;
  }
}

.work-citation {
  & dt {
    color: #666;
    margin-bottom: 10px;
  }
  & dd {
    border-left: 10px solid #eee;
    padding-left: 8px;
  }
}

.work-show-columns {
  display: flex;
  @media screen and (max-width: $screen-sm-max) {
    display: block;
  }
  & > div {
    align-items: stretch;
  }
}

dl.work-show {
  &.dataset {
    border-top: 4px solid #a1b70d;
    padding-top: 25px;
    margin-top: 20px;
    column-count: 2;
    column-gap: 20px;
    @media screen and (max-width: $screen-xs-max) {
      column-count: auto;
    }
  }
  & > div {
    break-inside: avoid;
  }
  & dt {
    padding: 0;
    margin: 0;
    color: #666;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
  & dd {
    padding: 0;
    margin: 0;
    & ul {
      padding-left: 0;
    }
  }
}

.contextual-info {
  background: #fafafa;
  border-left: 2px solid #eee;
  padding: 30px 15px;
  @media screen and (max-width: $screen-xs-max) {
    border-left: none;
  }
  & .representative-media, .canonical-image {
    display: block;
    padding: 0.5em 0;
    max-width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 3px 3px 15px #ccc;
  }
  & h2 {
    font-size: 22px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
  }
}

.vertical-breadcrumb {
  font-size: 15px;
  color: #666;
  border-bottom: 2px solid #a1b70d;
  padding-bottom: 20px;
  & a.vertical-breadcrumb-expander {
    color: #666;
  }
  & .you-are-here {
    margin-top: 15px;
  }
}

.vertical-breadcrumb-node {
  &.collapsed {
    display: none;
  }
  &.current-node {
    margin-top: -6px;
  }
}

.vertical-breadcrumb-separator {
  position: relative;
  display: block;
  width: 1px;
  margin: 6px auto;
  color: #ccc;
  height: 15px;

  & .fa {
    font-size: 19px;
    position: absolute;
    bottom: -2px;
    left: -3px;
    &.fa-map-marker {
      font-size: 19px;
      color: $brand-success;
      background-color: white;
      bottom: -10px;
      left: -4px;
    }
  }
}

.show-actions {
  padding: 15px 0;
  a.btn {
    margin-bottom: 5px;
    vertical-align: top;
  }
}

.resp-sharing-button__link {
  margin: 0;
}

.resp-sharing-button {
  padding: 0.2em 0.3em 0em 0.3em;
}

.resp-sharing-button__link[title="Tumblr"], .resp-sharing-button--tumblr {
    display: none;
}

.stats-button {
  &:before {
    content: "\f080";
    font-family: "FontAwesome";
    padding-right: 0.3em;
  };
}

table.related-files {
  & tbody > tr > td {
    border-top: none;
  }
  & td.thumbnail {
    width: 50px;
    padding: 0;
    margin: 10px;
  }
  & .btn {
    font-size: 85%;
  }
}
