/* ============================== */
/* Work Show Page Style Overrides */
/* ============================== */

.show-actions {
  a.btn {
    margin-bottom: 5px;
    vertical-align: top;
  }
}

.resp-sharing-button__link[title="Tumblr"], .resp-sharing-button--tumblr {
    display: none;
}
