/* ===================== */
/* Page Layout Overrides */
/* ===================== */

body {
    margin-bottom: 25px;
}

.skip-to-content a {
 color: $mast-primary;
}


.notify-number .label {
  color: $mast-primary;
}

#content-wrapper {
  background: #fff;
  padding: 15px 30px;
}

.alert {
  margin: 0 0 22px 0;
}

.alert-success a,
.alert-warning a,
.alert-danger a, {
  color: #fff;
  text-decoration: underline;

  :hover {
    color: #021738;
  }
}

#content-wrapper .alert {
  margin: -15px -30px 22px -30px;
}

#content-wrapper .row .alert,
#content-wrapper .main-content .alert {
  margin: 0 0 22px 0;
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;

  li:first-of-type {
    padding-left: 10px;
  }

}

#content-wrapper .breadcrumb {
  display: none;
}

.site-footer {
  height: auto;
}


/* ===== */
/* Items */
/* ===== */

.canonical-image {
  width: 100%;
}

.media-left, .media-right, .media-body {
  vertical-align: middle;
}

.file_listing_thumbnail {
  border-radius: 8px;
}

.document .list-thumbnail {
  text-align: center;
}

.resp-sharing-button__link span {
  color: $link-color;
}



/* ============================================ */
/* Button Variations (extends Bootstrap) */
/* ============================================ */

.btn-emphasize {
  font-weight: bold;
  &:before {
  content: "\f105";
  font-family: FontAwesome;
  margin-right: 0.5em;
  color: $brand-success-light;
  }
}

.btn-default-darker {
  background: #ccc;
  border-color: #cacaca;
  &:hover {
    background: #ddd;
  }
}

/* ============================================ */
/* Background variations (extends Bootstrap)    */
/* ============================================ */

.bg-success {
  color: white
}

/* ============================================ */
/* Permission Badges (extends Bootstrap .label) */
/* ============================================ */

/* Don't show public badge in work show page */
.work-permissions .permission-badge-open, .related-files .permission-badge-open {
  display: none;
}

/* Add icons to some permission badges */
.permission-badge-restricted:after {
  content: "\f023";
  font-family: FontAwesome;
  margin-left:0.5em;
  color: $brand-danger;
}

.permission-badge-embargo:after {
  content: "\f023";
  font-family: FontAwesome;
  margin-left:0.5em;
  color: $brand-warning-light;
}

.permission-badge-lease:after {
  content: "\f09c";
  font-family: FontAwesome;
  margin-left:0.5em;
  color: $brand-warning-light;
}

.permission-badge-authenticated:after {
  content: "\f023";
  font-family: FontAwesome;
  margin-left:0.5em;
  color: $brand-info;
}


/* ============== */
/* Search Results */
/* ============== */

.metadata {
  & .attribute-label.h4 {
      font-size: 18px;
  }
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  color: $gray;
}

.list-thumbnail {
  @media screen and (max-width: $screen-sm-max) {
    display: none;
  }
}


/* ========= */
/*  Columns  */
/* ========= */

.column-extra-padding {
  padding: 30px;
}


/* ======= */
/*  Forms  */
/* ======= */

.submission-form #new_submission .btn-group {
  width: 100%;
  text-align: center;
}

.submission-form #new_submission .btn-default.active {
  box-shadow: none !important;
  background-color: #001a57 !important;
  border-color: #001a57 !important;
  color: #fff !important;
}

.submission-form h1 {
  margin-bottom: 1em;
}

.submission-form .alert {
  margin: 0 0 20px 0;
}

.submission-form .submission-nav {
  padding-top: 1em;
}

/* Hide all steps by default: */
.submission-form .form-tab {
  display: none;
}

.submission-form .form_alert {
  margin-bottom: 1em;
  text-align: center;
  color: #e73f61;
  font-size: 1.5em;
}

.submission-form .form-tab-error {
  padding: 20px;
  margin: -20px;
  background-color: #f9f2f2;
}

.submission-form ul:not([class]) > *:before {
  margin-left: -2em;
  padding-right: 1.2em;
}

.submission-form ul {
  padding-left: 1em;
  li {
    margin-bottom: .5em;
  }
}

.submission-form ol {
  padding-left: 2em;
  li {
    margin-bottom: .5em;
  }
}

#t6.form-tab .btn-group {
  margin-top: 1.5em;
}

.submission-form .pager {
  padding-left: 0;
}

.submission-form .pager li > a {
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  min-width: 60px;
  background-color: $mast-primary;
  border-color: darken($mast-primary, 3%);
  color: #fff;
}

.submission-form .pager li > a:hover,
.submission-form .pager li > a:focus {
  background-color: #245682;
  border-color: #215079;
}

.submission-form #submission_submit_button {
  float: right;
  font-size: 16px;
  font-weight: bold;
  min-width: 60px;
}

.submission-form .radio-not-checked,
.submission-form .text-area-empty {
  background-color: #ffeeee;
  border-color: #ffaaaa;
}

.submission-form .form-group {
  margin-top: 2em;
  margin-bottom: 0;
}

.submission-form .form-group label {
  width: 100%;
  font-weight: normal;
}

.submission-form .form-group input {
  width: 100%;
}

.submission-form .form-group textarea {
  width: 100%;
  height: 6em;
}

.submission-form .required::before {
  content: '* ';
  color: #cc0000;
  font-size: 200%;
  line-height: .25;
  vertical-align: bottom;
}

.submission-form .required-text {
  color: #cc0000;
  font-size: 200%;
  line-height: .25;
  vertical-align: bottom;
}



/* ------------------------
 *  FOOTER
 * ------------------------ */



//https://github.com/duke-libraries/ddr-public/blob/develop/app/assets/stylesheets/ddr.scss#L1242-L1284

.footer {
    margin-bottom: 0;
    border: 0;
    padding: 20px;
  }


  .footer h3 {
    color: lighten($gray, 5%);
    text-transform: uppercase;
  }

  .footer ul {
    margin: 0;
    padding: 0;
  }

  .footer li::before {
    content: '';
    margin-left: -1em;
  }

  .footer li {
    margin-bottom: .75em;
  }

  .footer li a,
  .footer p a {
    line-height: 1.2em;
    color: #666;
  }

  .footer .footer-padding img {
    margin-top: 3em;
    opacity: .7;
  }

  .footer .col-md-1.footer-padding img {
    margin-top: 2em;
  }
