/* ===================== */
/* Page Layout Overrides */
/* ===================== */

body {
    margin-bottom: 25px;
}

.dul-masthead-bar, #dul-masthead-filler {
  width: 100%;
  text-align: center;
  background-color: #053482;
}

.dul-masthead-wrapper {
  height: 105px;
  margin: 0 auto;
  padding-left:0;
}

#dul-masthead-dul-megamenu .dul-masthead-megamenu_container ul .dul-masthead-mega_toplevel a {
    font-weight: 400 !important;
}

#masthead {
  padding-top: 10px;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 5px 15px 18px 15px;
  font-size: 20px;
  line-height: auto;
  height: auto;
  text-transform: uppercase;

  & .product-name-primary {
    font-weight: bold;
  }
  & .product-name-secondary {
    font-size: 16px;
  }
}

.navbar-toggle, .facets-toggle {
    margin-right: 0;
    margin-top: 16px;
    background-color: #ddd;
    & .icon-bar {
      background-color: white;
    }
}

#content-wrapper {
  background: #fff;
  padding: 20px 0;
}

.breadcrumb {
  background-color: transparent;
}

.site-footer {
  height: auto;
}


/* ===== */
/* Items */
/* ===== */

.canonical-image {
  width: 100%;
}

.media-left, .media-right, .media-body {
  vertical-align: middle;
}

.file_listing_thumbnail {
  border-radius: 8px;
}

.document .list-thumbnail {
  text-align: center;
}

/* ============== */
/* Search Results */
/* ============== */

.metadata {
  & .attribute-label.h4 {
      font-size: 18px;
  }
}


/* ========= */
/*  Columns  */
/* ========= */

.column-extra-padding {
  padding: 30px;
}


/* ========== */
/*  Homepage  */
/* ========== */

.home-content #recent_docs .recent-item img {
  width: 45px;
  border-radius: 6px;
}

/* ------------------------
 *  FOOTER
 * ------------------------ */



//https://github.com/duke-libraries/ddr-public/blob/develop/app/assets/stylesheets/ddr.scss#L1242-L1284

.footer {
    background: #eee;
    margin-bottom: 0;
    border: 0;
  }


  .footer h3 {
    color: #999;
    text-transform: uppercase;
  }

  .footer ul {
    margin: 0;
    padding: 0;
  }

  .footer li::before {
    content: '';
  }

  .footer li {
    margin-bottom: .75em;
  }

  .footer li a,
  .footer p a {
    line-height: 1.2em;
    color: #666;
  }

  .footer .footer-padding img {
    margin-top: 3em;
    opacity: .7;
  }

  .footer .col-md-1.footer-padding img {
    margin-top: 2em;
  }
