<%# NOTE: Adapted from Hyrax core views/hyrax/homepage/_announcement.html.erb %>

<div id="masthead-alert">
  <div class="container">
      <div class="row">
        <%= displayable_content_block announcement, class: 'col-xs-12 alert alert-danger' %>
      </div>
  </div>
</div>
